@media print {
  :root body {
    /* Blockquotes */
    --blockquote-border-color: var(--interactive-accent);
    /* Callouts */
    --callout-blend-mode: var(--highlight-mix-blend-mode);
    --callout-bug: var(--color-red-rgb);
    --callout-default: var(--color-blue-rgb);
    --callout-error: var(--color-red-rgb);
    --callout-example: var(--color-purple-rgb);
    --callout-fail: var(--color-red-rgb);
    --callout-important: var(--color-cyan-rgb);
    --callout-info: var(--color-blue-rgb);
    --callout-question: var(--color-yellow-rgb);
    --callout-success: var(--color-green-rgb);
    --callout-summary: var(--color-cyan-rgb);
    --callout-tip: var(--color-cyan-rgb);
    }
}
@page {
  margin: 0;
}

