@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

.slide-down {
  top: -100px;
  animation: slideDown 1.5s ease-in 1s forwards;
}

.fade-in-delay-1 {
  opacity: 0;
  animation: fadeIn 1s ease-out 0.2s forwards;
}

.fade-in-delay-2 {
  opacity: 0;
  animation: fadeIn 1s ease-out 0.4s forwards;
}

.fade-in-delay-3 {
  opacity: 0;
  animation: fadeIn 1s ease-out 0.6s forwards;
}

.fade-in-delay-4 {
  opacity: 0;
  animation: fadeIn 1s ease-out 0.8s forwards;
}

.fade-in-delay-5 {
  opacity: 0;
  animation: fadeIn 1s ease-out 1s forwards;
}

.slide-left {
  opacity: 0;
  animation: slideInFromLeft 1s ease-out 0.5s forwards;
}

.slide-right {
  opacity: 0;
  animation: slideInFromRight 1s ease-out 0.8s forwards;
}

.slide-bottom {
  opacity: 0;
  animation: slideInFromBottom 1s ease-out 1.1s forwards;
}



@keyframes wiggle {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-8px);
  }
}



@keyframes wiggle2 {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-8px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-8px);
  }
}


.wiggle-1 {
  animation: wiggle 3s ease-in-out infinite;
}

.wiggle-2 {
  animation: wiggle2 3s ease-in-out 0.5s infinite;
}

.wiggle-3 {
  animation: wiggle 3s ease-in-out 1s infinite;
}



